.navbar {
  background: radial-gradient(circle, rgba(194,15,187,1) 0%, rgba(55,153,208,1) 30%, rgba(189,51,72,1) 71%, rgba(1,12,27,1) 100%, rgb(66, 215, 86) 100%);    justify-content: center;
    font-size: 1.3rem;
    position: sticky;
    top: 0;
    z-index: 999;
    margin: 10;


  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    max-width: 1500px;
    margin: 0;
  }
  
  .navbar-logo {
    color: rgb(255, 255, 255);
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
  }

  #resume {
    width: 450px;
    align-items: center;
    text-decoration: none;
    text-align: center;

  }
  #cvvideo{
    text-align: center;
    color: rgb(255, 255, 255);
    justify-self: start;
    margin-left: -50px;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.5rem;
    display: flex;
  }
  .carousel-caption div {
    display:table-cell;
    vertical-align: middle;
    text-align:center;
 }
   .carousel-item {
    height: 25rem;
    background: transperent;
    height: 100%;
    overflow: hidden;
   }
   .Carousel.item {
      height: 25rem;
      background: transperent;
      width: 10%;
      height: 10%;
      overflow: hidden;
     }
   
     .Prueba{
      width:100%;
      position:relative;
      height:70;
      top: 0px;
      left: 300px;
      min-width: 20%;
      height:80px;
      max-height: 40px;
  
     }
     
     .Prueba2{
      width:70%;
      position:relative;
      height:580;
      top: 150;
      left: -110px;
      min-width: 10%;
      max-height: 400px;
      background-color:transparent;
     }
     .Prueba3{
      width:50%;
      height:78;
      top: -10px;
      left: -90px;
      min-width: 20%;
      height:50px;
      max-height: 100px;
      background-color:transparent;
      padding: -50%;
     }
   
   .carousel-item img {
    opacity: 0.8;
    width: 100%;
    height:100%;
    min-height: 90vh;
    max-height: 80vh;
    overflow: hidden;
   }
   #name{
    color:white;
   }
   .carousel{
    width:100%;
    min-height: 100vh;
    max-height: 100vh;
    overflow: hidden;
    background-color: rgba(70, 0, 150, 0.668);
   }
   
  .fa-typo3 {
    margin-left: 0.5rem;
    font-size: 1.8rem;
  }

#buttonintro {
    width:100%;
    overflow: hidden;
    width:89%;
    height:350px;
}
.fa-play-circle {
    margin-left: 4px;
}
  
  .nav-menu {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 60vw;
    justify-content: end;
    margin-right: 2rem;
  }
  
  .nav-item {
    height: 80px;
  }
  
  .nav-links {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
  }
  
  .nav-links:hover {
    border-bottom: 4px solid #fff;
    transition: all 0.2s ease-out;
  }
  
  .fa-bars {
    color: #fff;
  }
  
  .nav-links-mobile {
    display: none;
  }
  
  .menu-icon {
    display: none;
  }
  
  @media screen and (max-width: 960px) {
    .NavbarItems {
      position: relative;
    }
  
    .nav-menu {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 50vh;
      position: absolute;
      top: 80px;
      left: -100%;
      opacity: 1;
      transition: all 0.5s ease;
    }
  
    .nav-menu.active {
      background: #242422;
      left: 0;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 1;
    }
  
    .nav-links {
      text-align: center;
      padding: 2rem;
      width: 100%;
      display: table;
    }
  
    .nav-links:hover {
      background-color: #fff;
      color: #242424;
      border-radius: 0;
    }
  
    .navbar-logo {
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(15%, 40%);
      
    }
  
    .menu-icon {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 60%);
      font-size: 1.8rem;
      cursor: pointer;
    }
  
    .fa-times {
      color: #fff;
      font-size: 2rem;
    }
  
    .nav-links-mobile {
      display: block;
      text-align: center;
      margin: 2rem auto;
      border-radius: 4px;
      width: 80%;
      text-decoration: none;
      font-size: 1.5rem;
      background-color: transparent;
      color: #fff;
      padding: 14px 20px;
      border: 1px solid #fff;
      transition: all 0.3s ease-out;
    }
  
    .nav-links-mobile:hover {
      background: #fff;
      color: #242424;
      transition: 250ms;
    }
  }
  .project {
    top: 50%;
    opacity: 1;
    width:100%;
    background-color: rgba(0, 0, 0, 0.83);;
  }

  #containerproject{
    top: 50%;
    opacity: 1;
    width:100%;
    background-color: rgba(6, 1, 33, 0.88);
    max-width:1200px ;
  }
  .projwords{
color:white;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
    font-size: 30px;
    width: 708px;
    left:453px;
  }
  .projwords2{
    color:white;
        position: relative;
        border-radius: 10px;
        overflow: hidden;
        margin-bottom: 20px;
        font-size: 30px;
        width: 708px;
        left:390px;
      }
  .proj-imgbx {
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 60px;
    float:right;
    width: 400px;
    height: 200px;
    max-width: 100%;
    max-height: 200%;
  }
  .proj-imgbx::before {
    content: "";
    background: linear-gradient(90.21deg, #790452 -5.91%, #5212e892 111.58%);
    opacity: 0.85;
    position: absolute;
    width: 100%;
    height: 0;
    transition: 0.4s ease-in-out;
  }
  .proj-imgbx:hover::before {
    height: 100%;
    width:100%;
  }
  .proj-txtx {
    position: absolute;
    text-align: center;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s ease-in-out;
    opacity: 0;
    width: 100%;
  }
  .proj-imgbx:hover .proj-txtx {
    top: 50%;
    opacity: 1;
  }
  .proj-txtx h4 {
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 1.1em;
    color:rgba(10, 178, 245, 0.85);
  }
  .proj-txtx span {
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.8px;
    color:rgba(1, 56, 255, 0.8);
  }
  .background-image-right {
    top: 20%;
    position: absolute;
    bottom: 0;
    width: 35%;
    right: 0;
    z-index: -4;
  }
  
  /************ Projects Css ************/
  .contact {
    background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);
    padding: 60px 0 200px 0;
  }
  .contact img {
    width: 92%;
  }
  .contact h2 {
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 30px;
  }
  .contact form input, .contact form textarea {
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    color: #fff;
    margin: 0 0 8px 0;
    padding: 18px 26px;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.8px;
    transition: 0.3s ease-in-out;
  }
  .contact form input:focus, .contact form textarea:focus {
    background: rgba(255, 255, 255, 1);
    color: #121212;
  }
  .contact form input::placeholder, .contact form textarea::placeholder {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
  }
  .contact form input:focus::placeholder, .contact form textarea:focus::placeholder {
    color: #121212;
    opacity: 0.8;
  }
  .contact form button {
    font-weight: 700;
    color: #000;
    background-color: #fff;
    padding: 14px 48px;
    font-size: 18px;
    margin-top: 25px;
    border-radius: 0;
    position: relative;
    transition: 0.3s ease-in-out;
  }
  .contact form button span {
    z-index: 1;
    position: relative;
  }
  .contact form button:hover {
    color: #fff;
  }
  .contact form button::before {
    content: "";
    background: #121212;
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    transition: 0.3s ease-in-out;
  }
  .contact form button:hover::before {
    width: 100%;
  }
  
  @media screen and (max-width: 990px) {

  
  .navbar-logo  {
     width: 20%;
  }
  
  .navbar-logo {
      font-size: 20px;
      line-height: 52px;
  }
  }
  
  @media screen and (max-width: 550px) {
  .navbar-logo {
      font-size: 15px;
      line-height: 50px;
  }
  }