* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
    margin: 0;
  }
  
  .professional,
  .personal,
  .proyecto,
  .Me,
  .languages {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    margin: 0;
  }
  
  .professional {
    background-image: url('./img/profesional.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-style: 'italic';
    font-size: 110px;
    
  }
  
  .personal {
    background-image: url(https://images.pexels.com/photos/270360/pexels-photo-270360.jpeg);

    background-position: center;
    background-size: fill;
    background-repeat: no-repeat;
    color: white;
    font-size: 110px;
  }

  .Me {
    background-image: url(https://images.pexels.com/photos/2156881/pexels-photo-2156881.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;

    font-size: 110px;
  }

  .proyecto {
    background-image: url('https://images.pexels.com/photos/5926382/pexels-photo-5926382.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-size: 110px;
  }
  .languages {
    background-image: url(https://images.pexels.com/photos/6375/quote-chalk-think-words.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-size: 110px;
  }
  .learning{
    background-image: url(https://images.pexels.com/photos/390394/pexels-photo-390394.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    width: 1519px;
    left: 50%;
    height: 900px;
    max-height: 200%;
    font-size: 90px;
    
  }
  
  
